In [2]:
a = 5
b = 3
result = a + b
print ( result)

8

In [3]:
a = 8
b = 4
result = a - b
print ( result)

4

In [4]:
a = 6
b = 7
result = a * b
print ( result)

42

In [5]:
a = 20
b = 5
result = a / b
print ( result)

4.0

In [6]:
a = 20
b = 3
result = a // b
print ( result)

6

In [8]:
a = 20
b = 7
remainder = a % b
print ( remainder)

6

In [9]:
a = 2
b = 3
result = a ** b
print ( result)

8

In [11]:
x = 5
y = 3
result = (x>2) and (y<4)
print (result)

True

In [12]:
x = 5
y = 3
result = (x>2) or (y<4)
print (result)

True

In [13]:
x = 5
result = not (x==5)
print (result)

False

In [14]:
x = 5
result = (x==5)
print (result)

True

In [15]:
x = 5
result = (x!=3)
print (result)

True

In [16]:
x = 5
result1 = (x>3)
result2 = ( x<3)
print (result1)
print (result2)

True
False

In [17]:
x = 5
result1 = (x>=3)
result2 = ( x<=3)
print (result1)
print (result2)

True
False

In [18]:
name = input ("Nhap ten cua ban")
print ("xin chao,", name)

Nhap ten cua banphien
xin chao, phien

In [22]:
age = input ("nhap tuoi cua ban")
print ("tuoi cua ban la:", age)

nhap tuoi cua ban1
tuoi cua ban la: 1

In [27]:
x = 10
if x > 5:
    print ("x lon hon 5")
elif x == 5:
    print ("x bang 5")
else:
    print ("x nho hon 5")

x lon hon 5

In [33]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print (fruit) # This line needs to be indented

apple
banana
cherry

In [34]:
count = 0
while count < 5:
       print (count)
       count += 1

0
1
2
3
4

In [36]:
for i in range(1, 101):
  if i % 5 == 0:
        print(" so chia het cho 5 dau tien la:", i)
        break

 so chia het cho 5 dau tien la: 5

In [40]:
for i in range(1, 11):
  if i % 2 != 0:
       continue
       print (i)

In [47]:
x = 5
if x > 10:
   print ("x lon hon 10")
else:
  pass